code.txt
[{"id":"ed9bb90d.e65238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a7b08df.c61858","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8b5b4afa.89e4c8","type":"ui_group","z":"","name":"EarlyAware","tab":"463fd242.b7e60c","order":1,"disp":true,"width":"6","collapse":false},{"id":"463fd242.b7e60c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9b35d95e.741e38","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a4fad640.81adf8","type":"ui_link","name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"ec1740f5.5daa8","type":"ui_link","name":"Link 3","icon":"open_in_browser","target":"newtab","order":3},{"id":"760103e7.b2a1fc","type":"ui_link","name":"Link 4","icon":"open_in_browser","target":"newtab","order":4},{"id":"b8087002.952ae","type":"ui_group","z":"","name":"Breast Cancer Risk Detection","tab":"463fd242.b7e60c","order":2,"disp":true,"width":"6","collapse":false},{"id":"990570a9.2a17f","type":"function","z":"ed9bb90d.e65238","name":"PreToken","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\n\nvar apikey=\"M8ZOYuk6_lVoxDya8Nmg-0NibMuv9pXHiI2MiwCOW7t5\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":255,"y":316.0000047683716,"wires":[["1dc96b86.c98434"]]},{"id":"1dc96b86.c98434","type":"http request","z":"ed9bb90d.e65238","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["7773fc91.4de034"]]},{"id":"26684f46.21c3c","type":"inject","z":"ed9bb90d.e65238","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100.5,"y":230.00000286102295,"wires":[["990570a9.2a17f"]]},{"id":"19790646.9705aa","type":"debug","z":"ed9bb90d.e65238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"7773fc91.4de034","type":"function","z":"ed9bb90d.e65238","name":"Pre Prediction","func":"var mr = global.get('mr')\nvar mt = global.get('mt')\nvar mp = global.get('mp')\nvar ma = global.get('ma')\nvar ms = global.get('ms')\nvar token=msg.payload.access_token\nvar instance_id=\"d326dc13-ae1d-4714-be0e-81404a33519b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":651.0000076293945,"y":268.00000381469727,"wires":[["596f946f.7143ac"]]},{"id":"596f946f.7143ac","type":"http request","z":"ed9bb90d.e65238","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/2f2c71fc-f4b1-4a9a-9ebc-5d01c3011bca/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["3ffa1ce5.8a78d4","d2e0bc2a.87d0a"]]},{"id":"885dc74c.fb1388","type":"ui_form","z":"ed9bb90d.e65238","name":"","label":"Breast Cancer Risk Prediction","group":"8b5b4afa.89e4c8","order":0,"width":0,"height":0,"options":[{"label":"Mean Radius:","value":"mr","type":"number","required":true,"rows":null},{"label":"Mean Texture:","value":"mt","type":"number","required":true,"rows":null},{"label":"Mean Perimeter:","value":"mp","type":"number","required":true,"rows":null},{"label":"Mean Area:","value":"ma","type":"number","required":true,"rows":null},{"label":"Mean Smoothness:","value":"ms","type":"number","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":400,"wires":[["990570a9.2a17f"]]},{"id":"c5c2c42a.1c3c98","type":"ui_text","z":"ed9bb90d.e65238","group":"8b5b4afa.89e4c8","order":1,"width":0,"height":0,"name":"","label":"Diagnosis result:","format":"{{msg.payload}}","layout":"row-spread","x":802.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"3ffa1ce5.8a78d4","type":"function","z":"ed9bb90d.e65238","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.6000366210938,"y":107.60000610351562,"wires":[["19790646.9705aa","c5c2c42a.1c3c98"]]},{"id":"d2e0bc2a.87d0a","type":"debug","z":"ed9bb90d.e65238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]}]