risk_prediction.json
[{"id":"1eb5ca72.88fc46","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85db52f4.9253f","type":"function","z":"1eb5ca72.88fc46","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"PFiputPROqo-ufpfzkjyN1YmEglDr7TZaT2eLqvJFp2v\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["c9e415db.50b328"]]},{"id":"c9e415db.50b328","type":"http request","z":"1eb5ca72.88fc46","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":454,"y":305,"wires":[["5110fcc4.37e3d4"]]},{"id":"ca6abf0c.e1515","type":"inject","z":"1eb5ca72.88fc46","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["85db52f4.9253f"]]},{"id":"fabe21f2.66578","type":"debug","z":"1eb5ca72.88fc46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"5110fcc4.37e3d4","type":"function","z":"1eb5ca72.88fc46","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"a5c85af3-7889-44a1-8b37-b113804ffa5f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"years of experince\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["1f0edb6a.219855"]]},{"id":"1f0edb6a.219855","type":"http request","z":"1eb5ca72.88fc46","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a5c85af3-7889-44a1-8b37-b113804ffa5f/deployments/84ff180c-c180-4393-a034-9272adacbc84/online","tls":"","proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["c39682fe.a214c"]]},{"id":"ee561524.f0e538","type":"ui_form","z":"1eb5ca72.88fc46","name":"","label":"","group":"5a638ca3.b40164","order":0,"width":0,"height":0,"options":[{"label":"years of experience","value":"ye","type":"number","required":true}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["85db52f4.9253f"]]},{"id":"404f2519.c7877c","type":"ui_text","z":"1eb5ca72.88fc46","group":"5a638ca3.b40164","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":772.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"c39682fe.a214c","type":"function","z":"1eb5ca72.88fc46","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["fabe21f2.66578","404f2519.c7877c"]]},{"id":"5a638ca3.b40164","type":"ui_group","z":"","name":"Default","tab":"e10eba51.b60508","disp":true,"width":"6","collapse":false},{"id":"e10eba51.b60508","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]